* {
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Inconsolata', monospace;
    background-color: #e6d7d791;
}
img {
    display:none;
    width: 100%;
}

.container-carrousel {
    padding: 15px 0;
}

.main-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #615f5f;
}

.main-heder__title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #615f5f;
}

.main-header__container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}

/* ESTILOS DEL MENU */

.main--nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0,5 ;
    z-index: 999999;
}

.menu {
    position: absolute;
    top: 120px;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menu__item {
    padding: 5px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.menu__link {
    padding: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

.menu__link:hover {
    background-color: white;
    color: #212121;
}

.mostrar {
    opacity: 1;
    visibility: visible;
}

/* ESTILOS HEADER */

.main-heder__txt {
    margin: 0;
    padding: 0 20px;
}
.icon-menu {
    font-size: 1.5em;
    border: solid 1px #615f5f;
    display: block;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 65px;
}

.main-header__btn {
    text-decoration:none !important;
    color: #151515;
    border: solid 3px #ccc;
    display: block;
    padding: 5px;
    width: 100px;
    text-align: center;
    background-color: #e6d7d791;

}

.main-header__input {
    background-color: #e6d7d791;
    border: solid 3px #ccc;
    color: #151515;
    display: block;
    padding: 5px;
    width: 40%;
    text-align: center;
}

.main {
    padding: 20px;
}

/* ESTILOS DE PRODUCTOS */

.container-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0;
    padding: 0;
}

.product {
    border: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}

.product:before {
    content: "Oferta";
    background: #ff4e00;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 5px;
    transform: rotate(-90deg);
    color: white;
    Font-weight: bold;
    font-size: small;
}

.product_img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border: solid 3px #ccc;
}

.product_title {
    text-align: center;
}

.producto__price {
    color: #ff4e00;
    font-weight: bold;
}

.product__icon {
    display: block;
    margin-top: 10px;
}

.containet-editor {
    margin-top: 50px;
}

.editor__title {
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: medium;
    border: solid 2px #ff4e00;
    padding: 0;
}

.editor__item {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.editor.img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.editor__circle {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content:left;
    align-items: center;
    position: absolute;
    bottom: -190px;
    right: -150px;
    color: white;
    padding: 10px 30px 60px 10px;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}

.editor__item:hover .editor__circle {
    transform: scale(1.2);
    bottom: -115px;
    right: -10px;
}


/* FOOTER */

.main-footer {
    margin: 5px 20px ;
    padding: 30px 20px;
    background-color: #151515;
    color: white;
}

.footer__title {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.footer__txt {
    color: #555;
    padding: 5px 0;
}

.copy {
    padding-top: 20px;
    color: #555;
}

.footer__imput {
    background-color: #151515;
    width: 100%;
    display: block;
    margin: 5px 0 20px 0; 
    border: solid 1px#555;
}

/* ESTILOS PARA TABLET */

@media (min-width: 768px){
    .product_img {
        height: 300px;
    }
    .editor__title {
        font-size: x-large;
    }
    .main-heder__title {
        font-size:4em;
    }
}

@media (min-width: 1024px){
    .product_img {
        height: 400px;
    }
    .editor__title {
        font-size: 2em;
    }
    .main-heder__title {
        font-size:4em;
    }
}
